
@{
    ViewBag.Title = "Свяжитесь с нами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Свяжитесь с нами</h2>


<div>Имя:</div>
<input type="text" />
<div>E-mail:</div>
<input type="email" />
<div>Телефон:</div>
<input type="tel" />
<div>Ваше сообщение:</div>
<textarea rows="10" cols="25"></textarea>
<div></div>
<input type="submit" value="Отправить" />

<div style="float:right">
    <div><strong>Телефон:</strong> +7 (499) 497 25-24</div>
    <div><strong>E-Mail:</strong> <a href="mailto:mail@gmail.com">mail@gmail.com</a></div>
    <div><strong>Адрес:</strong>  Россия, г. Москва, шоссе Энтузиастов 241, офис 104.</div>
</div>