@{
    ViewBag.Title = "Панель администратора";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <strong>Брэнд:</strong>
    <ul>
        <li><a href="/Brand/Add">Добавить</a></li>
        <li><a href="/Brand/BrandList">Изменить/удалить</a></li>
    </ul>



    <strong>Товар:</strong>
    <ul>
        <li><a href="/Product/Add">Добавить</a></li>
        <li><a href="/Product/ProductList">Изменить/удалить</a></li>
    </ul>

    <strong>Характеристики:</strong>
    <ul>
        <li><a href="/Characteristic/Add">Добавить</a></li>
        <li><a href="/Characteristic/CharList">Изменить/удалить</a></li>
    </ul>

    <strong>Пользователи:</strong>
    <ul>
        <li><a href="/Account/EditList">Список пользователей</a></li>
    </ul>

</div>

